
.wd-flex{
    display:flex;

}

.wd-no-pad{
    padding: 0;
}
.wd-16{
    padding:16px;
}

.wd-color-white {
    color: white;
}
.wd-img {
    border-radius: 30px;
    padding:16px;
}

.wd-pad-15-lr{
    padding: 15px;
}
.wd-bold{
    font-weight: bold;
}
.wd-just-between{
    justify-content: space-between;
}
.wd-invert-bw   {
    background: black;
    color:white;
    font-family: sans-serif;
}
a{
    color: lightgray;
    text-decoration: none;
}
