

/****	padding-sides	****/



.wd-pad-left-12{
	padding: 0px 0px 0px 12px;
}

.wd-pad-right-12{

	padding-right : 12px;
}

.wd-pad-top-12{
	padding-top : 12px;

}

.wd-pad-bot-12{
	padding-bottom : 12px;

}

.wd-pad-vert-12{
	padding: 12px 0px;
}

.wd-pad-horiz-12{
	padding: 0px 12px;
}

.wd-pad-12{
	padding: 12px;
}


.wd-pad-left-16{
	padding: 0 0 0 16px;
}

.wd-pad-right-16{
	padding: 0 16px 0px 0px;
}

.wd-pad-top-16{
	padding: 16px 0px 0px 0;
}

.wd-pad-bot-16{
	padding: 0px 0px 16px;
}

.wd-pad-vert-16{
	padding: 16px 0px;
}

  	
.wd-9{
  		font-size: 9px;
  	}
  	
.wd-12{
  		font-size: 12px;
  	}
  	
.wd-13{
  		font-size: 13px;
  	}
  	
.wd-15{
  		font-size: 15px;
  	}
  	
.wd-18{
  		font-size: 18px;
  	}
  	
.wd-20{
  		font-size: 20px;
  	}
  	
.wd-32{
  		font-size: 32px;
  	}
  	

/****	font-with-weight	****/
.wd-textbf{font-weight:bold;}

.wd-b-9{
  		font-size: 9px;
  		font-weight: bold;
  	}
  	
.wd-b-12{
  		font-size: 12px;
  		font-weight: bold;
  	}
  	
.wd-b-113{
  		font-size: 113px;
  		font-weight: bold;
  	}
  	
.wd-b-15{
  		font-size: 15px;
  		font-weight: bold;
  	}
