.wd-text-grey-25 {
    color: rgb(25, 25, 25)
}

.wd-text-gray-25 {
    color: rgb(25, 25, 25)
}

.wd-text-grey-50 {
    color: rgb(50, 50, 50)
}

.wd-text-gray-50 {
    color: rgb(50, 50, 50)
}

.wd-text-grey-75 {
    color: rgb(75, 75, 75)
}

.wd-text-gray-75 {
    color: rgb(75, 75, 75)
}

.wd-text-grey-100 {
    color: rgb(100, 100, 100)
}

.wd-text-gray-100 {
    color: rgb(100, 100, 100)
}

.wd-text-grey-150 {
    color: rgb(150, 150, 150)
}

.wd-text-gray-150 {
    color: rgb(150, 150, 150)
}

.wd-bg-grey-25 {
    color: rgb(25, 25, 25)
}

.wd-bg-gray-25 {
    color: rgb(25, 25, 25)
}

.wd-bg-grey-50 {
    color: rgb(50, 50, 50)
}

.wd-bg-gray-50 {
    color: rgb(50, 50, 50)
}

.wd-bg-grey-75 {
    color: rgb(75, 75, 75)
}

.wd-bg-gray-75 {
    color: rgb(75, 75, 75)
}

.wd-bg-grey-100 {
    color: rgb(100, 100, 100)
}

.wd-bg-gray-100 {
    color: rgb(100, 100, 100)
}

.wd-bg-grey-150 {
    color: rgb(150, 150, 150)
}

.wd-bg-gray-150 {
    color: rgb(150, 150, 150)
}



.wd-border-1-25 {
    color: rgb(25, 25, 25);
    border-width: 1px;
    border-style: solid;
}

.wd-border-1-50 {
    color: rgb(50, 50, 50);
    border-width: 1px;
    border-style: solid;
}

.wd-border-1-75 {
    color: rgb(75, 75, 75);
    border-width: 1px;
    border-style: solid;
}

.wd-border-1-100 {
    color: rgb(100, 100, 100);
    border-width: 1px;
    border-style: solid;
}

.wd-border-1-150 {
    color: rgb(150, 150, 150);
    border-width: 1px;
    border-style: solid;
}

.wd-text-grey{
    color:rgb(75,75,75)
}
