
.wd-book-title{
	/*top edge*/
	border-top-width: 16px;

}

.wd-outer-content-div{
	flex-shrink: 1;
	display: flex;
	border-color : rgb(47,51,54);
	border-style: solid;
	border-width: 1px;
	justify-content: left;
}


.wd-margin-0{
	margin-right: 0px;
}
.wd-grey-border{
	border-color : rgb(47,51,54);
	border-style: solid;
}
.wd-border-width-1{
	border-width: 1px;
}
.wd-bookmark-base{
	text-decoration:none;
 }
.wd-a{
	text-decoration: inherit;
}

.wd-bk-border{
	border-width: 1px;

	/*padding BEFORE BORDER*/
	padding-bottom: 12px;

	/*make border colored rgb(47,51,54)*/
	
}
.wd-small-rnd-gr-bd{
	padding-bottom: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(47,51,54);
	border-radius: 40px;

}

.wd-width-lte-506{
	max-width: 506px;
}

.wd-bold-15{
	font-weight: bold;
	font-size: 15px;
}

.wd-font-12{
font-size: 	12px;
}
.wd-font-15{
font-size: 	15px;
}
.wd-avatar{
	border-radius: 45px;
}

.wd-top-12{
	padding-top:12px;
}
.wd-red{
	color: red;
}

.wd-font-13{
	font-size:13px;
}
.wd-font-20{
	font-size:20px;
}
.wd-grey{
	color : rgb(47,51,54);	
}
.wd-light-grey{
	color:lightgrey;
}
.wd-12bot{
	padding-bottom: 12px;
}

.wd-12-below{
	padding-top:12px;
}
.wd-just-left{
	justify-content: left;
}
.wd-just-between{
	justify-content: space-between;
}
.wd-just-around{
	justify-content: space-around;
}
.wd-left-16{
	padding-left: 16px;
}
.wd-left-12{
	padding-left: 12px;
}
.wd-left-6{
	border-left-width: 6px;
}
.wd-right-6{
	border-left-width: 6px;
}
.wd-w12{
	padding: 6px;
}
.wd-just-center{
	justify-content: center;
}

.wd-just-even{
	justify-content: space-evenly;
}

.wd-display-flex{
	display: flex;
}
.wd-12-top-btm{
	padding-top: 12px;
	padding-bottom  :12px;
}
.wd-12-top{
	padding-top: 12px;
}
.wd-font-15{
	font-size:15px;
}

.wd-maxwidth-506{
	max-width: 506px;
}
.wd-image-wh{
	 width:504px;
	 height:264px ;
 }


.wd-display-flex{
	display: flex;
}
.wd-flex-shrink{
	flex-shrink: 1;
}
.wd-max-fit{
	max-width: fit-content;
}
.wd-round-40{
	border-radius: 40px;
}
.wd-round-top{
border-top-right-radius:40px;
border-top-left-radius: 40px;
}
.wd-round-bottom{

	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;

}
.wd-display-flex-center{display: flex;
	flex-shrink:1;
	justify-content: center;}
/*.wd-display-flex-space-btwn{}*/
/*.wd-display-flex-space-btwnx{}*/
