.wd-grey{
    color: grey;
}
.wd-search-bar-white{

}
.wd-search-div{
    border-style: hidden;
    border-width: 0px;
    border-color: white;
}
.wd-border-hidden{
    border:hidden;
}


.wd-bg-clear{
    background:transparent;
}
.wd-grey-border {
    border-color:grey;
    border-style: solid;
    border-top-left-radius: 45px;
}
