
.wd-flex-auto {
    flex: auto;
}

.wd-flex-content {
    flex:content;
}
.wd-flex-available {
    flex: available;
}

.wd-flex-container{
    display:flex;
}
.wd-just-end{justify-content: end}
.wd-just-start{justify-content: start}
.wd-just-center{justify-content: center}
.wd-just-even{justify-content: space-evenly}
.wd-just-between{justify-content: space-between}
/*.wd-just-{justify-content: }*/
